/*
==========================================
    Universidad del Valle de Guatemala
    Sistemas y tecnologias web

    Jose Martinez       Jose Rodolfo Perez
    15163               16056

    Proyecto - Lista Series
==========================================
*/

.search-form-container{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.input-search-container{
    margin: 0 10px;
}

.my-input-search{
    height: 1.9rem;
    width: 20rem;
    font-size: 1.4rem;
    padding-left: 10px;
}