/*
==========================================
    Universidad del Valle de Guatemala
    Sistemas y tecnologias web

    Jose Martinez       Jose Rodolfo Perez
    15163               16056

    Proyecto - Lista Series
==========================================
*/

.costumize-link{
    color: white;
    text-decoration: none;
}

.costumize-button{
    align-items: center;
    background: steelblue;
    border-radius: 10px;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin: 0 auto;
    width: 8rem;
    font-size: 1.2rem;
}
.costumize-button:hover {
    background: rgb(63, 117, 161);
}